<div class="container my-4">

  <h1 class="about my-5 text-center">About</h1>

  <div class="text-center">
    <% image_tag %>
    <p class="about-text">
      ながのCAKEは全国発送可能なケーキ屋さんです。 <br>
      お⼦様からお年寄りの⽅までお召し上がりいただけるよう、 <br>
      様々なバリエーションをご⽤意しております。 <br>
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注⽂いただけます。 <br>
      ぜひご注⽂ください。 <br>
    </p>
  </div>


  <div class="about-box mx-auto my-4"></div>
</div>