
<div class="container my-4">
    <div class="image mx-auto">
        <p class="welcome-text text-left py-5 pr-5 mx-auto bg-white text-dark align-self-center">
            ようこそ、ながのCAKEへ！ <br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員ではない方も商品の閲覧はできますが、 <br>
            購入には会員登録が必要になります。
        </p>
    </div>

    <h2 class="my-5 text-left font-weight-bold">
        新着商品
    </h2>

    <div></div>


</div>